(
  custom: {
    "Projected_Waves": [
      (enemies: [("Mantis", 1)], timeout: 10.0),
      (enemies: [("Moon", 1)], timeout: 10.0),
      (enemies: [("Mantis", 2)], timeout: 15.0),
      (enemies: [("Moon", 1), ("Bird", 1)], timeout: 15.0),
      (enemies: [("Bird", 2)], timeout: 15.0),
      (enemies: [("Mantis", 2), ("Moon", 2), ("Bird", 1)], timeout: 30.0),
      (enemies: [("Apple", 1)], timeout: 30.0),
      (enemies: [("Mantis", 3), ("Moon", 3), ("Bird", 1)], timeout: 30.0),
      (enemies: [("Mantis", 2), ("Bird", 3)], timeout: 40.0),
      (enemies: [("Apple", 1), ("Bird", 1), ("Moon", 2), ("Mantis", 2)], timeout: 60.0),
      (enemies: [("Moon", 4), ("Bird", 2)], timeout: 45.0),
      (enemies: [("Apple", 3)], timeout: 60.0)
    ]
  }
)
