(keyboard:(move_right:ArrowRight,move_up:ArrowUp,move_left:ArrowLeft,move_down:ArrowDown,dash:KeyX,primary_attack:KeyC,secondary_attack:KeyZ),appearance:(player:"Cyan"),progress:(weapon_slots:1,unlocked_dash:false,selected_weapons:["Filed"],selected_health:"Basic"))