(keyboard:(move_right:ArrowRight,move_up:ArrowUp,move_left:ArrowLeft,move_down:ArrowDown,dash:KeyX,primary_attack:KeyC,secondary_attack:KeyZ,confirm:Enter),appearance:(player:"Cyan",language:"en"),progress:(weapon_slots:1,unlocked_dash:false,selected_weapons:["Filed"],selected_health:"BasicHp",boss_progress:{},current_lobby:"Gate",lobby_position:(400.0,225.0)))