(
  charm: {
    "S1A_SharpLeaf": (cost: "O", effects: ["Damage+%10"]),
    "S1B_RedHeart": (cost: "D", effects: ["Health+1:Hp_RedHeart"]),
    "S1C_Exoskeleton": (cost: "D", effects: ["Exoskeleton"]),
    "S2A_Thermostat": (cost: "D", effects: ["ShowHealth"]),
    "S2B_Aerodynamics": (cost: "D", effects: ["ProjSpeed+%20", "MoveSpeed+%17"]),
    "S2C_CentralPlay": (cost: "O", effects: ["CentralPlay"])
  }
)
