(
  boss: {
    "Apple": (
      gains: { "Completed": 1, "NoHits": 1 },
    ),
    "Turf": (
      gains: { "Completed": 1, "NoHits": 2 },
    ),
    "Ant": (
      gains: { "Completed": 1, "NoHits": 1 }
    ),
  },
  stage: {
    "Gate": (
      unlock_prereqs: ["Apple", "Turf", "Ant"],
      full_size: (4800.0, 450.0),
      locked_size: (3200.0, 450.0),
    )
  },
  shop: {
    "Shop_Ant": (
      items: [
        (price: 2, item: Charm("S1A_SharpLeaf")),
      ],
      background: "Gate_Shop",
    )
  }
)
