(
  boss: {
    "Apple": (
      gains: { "Completed": 1, "NoHits": 1 },
    ),
    "Turf": (
      gains: { "Completed": 2, "NoHits": 1 },
    ),
    "Ant": (
      gains: { "Completed": 1, "NoHits": 1 }
    ),
    "Runway": (
      gains: { "Completed": 2, "NoHits": 1 }
    ),
    "Wcat": (
      gains: { "Completed": 3, "NoHits": 3 }
    )
  },
  stage: {
    "Gate": (
      complete_prereqs: ["Wcat"],
      full_size: (4800.0, 450.0),
      locks: [(
        prereqs: ["Apple", "Ant"],
        position: 3200.0,
        notify_text: Some("Gate_WcatCheckpoint")
      ), (
        prereqs: ["Apple", "Ant", "Wcat"],
        position: 4000.0,
        notify_text: Some("Gate_NextStageCheckpoint")
      )]
    )
  },
  shop: {
    "Shop_Ant": (
      items: [
        (price: 3, item: Charm("S1A_SharpLeaf")),
        (price: 3, item: Charm("S1B_RedHeart")),
        (price: 5, item: Weapon("B_Spread")),
      ],
      background: "Gate_Shop",
    )
  }
)
