(
  boss: {
    "Laser": (
      gains: { "Completed": 2, "NoHits": 2 },
    ),
  },
  stage: {
    "House": (
      complete_prereqs: ["TODO"],
      full_size: (4800.0, 450.0),
      locks: []
    )
  },
  shop: {
  }
)
