(
  boss: {
    "Laser": (
      gains: { "Completed": 1, "NoHits": 2 },
    ),
    "Windy": (
      gains: { "Completed": 3, "NoHits": 2 },
    ),
    "Bread": (
      gains: { "Completed": 1, "NoHits": 2 },
    ),
    "Projected": (
      gains: { "Completed": 3, "NoHits": 2 },
    )
  },
  stage: {
    "House": (
      complete_prereqs: ["TODO"],
      full_size: (4800.0, 450.0),
      prev_stage: Some("Gate"),
      locks: [
        (
          prereqs: ["Laser", "Bread"],
          position: 3200.0,
          notify_text: Some("House_RulerCheckpoint")
        ),
        (
          prereqs: ["Laser", "Bread", "Ruler"],
          position: 4000.0,
          notify_text: Some("House_NextStageCheckpoint")
        )
      ],
    )
  },
  shop: {
    "Shop_Bread": (
      items: [
        (price: 5, item: Weapon("C_Tracking")),
        (price: 3, item: Charm("S2A_Thermostat")),
      ],
      background: "House_Shop",
    )
  }
)
